.home-whole {
  width: 100%;
  height: 100%;
}

.home-index {
  color: black;
}

.logo {
  width: 40px;
  height: 40px;
}

.left-header {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.left-header span {
  padding: 0 10px;
  font-size: 20px;
  text-transform: lowercase;
  font-weight: bold;
  font-family: Baloo;
  color: black;
  font-style: italic;
}

.home-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: white;
}

// rgba(255,255,255,0.1) - backgground

.home-nav button {
  padding: 0px 2px;
  margin: 1px 5px;
  border-radius: 5px;
  font-family: Baloo;
  text-transform: uppercase;
  font-size: 80%;
}


video {
  position: absolute;
  z-index: -100;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  width: 100vw;
  margin: 0;
  object-fit: contain;
}



.home-button, #submit-button, {
    color: black;
    background: transparent;
    padding: 10px;
    border: none;
    text-decoration: normal;
    text-align: center;
    text-overflow: clip;

}

.home-button:hover {
  border: 2px solid white;
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  cursor: pointer;
}

#red:hover {
  border: 2px solid red;
  background: transparent;
}

#blue:hover {
  border: 2px solid blue;
  background: transparent;
}

#green:hover {
  border: 2px solid green;
  background: transparent;
}

#orange:hover {
  border: 2px solid orange;
  background: transparent;
}
