.logo {
  width: 60px;
  height: 60px;
}

.left-header {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.left-header span {
  padding: 0 20px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: #FF1177;
  font-family: Vampiro One;
}

.home-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.home-nav button {
  padding: 9px 12px;
  margin: 5px;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 16px;
}

video {
  position: fixed;
  top: 35%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  transform: translateX(-30%) translateY(-35%);
  margin: 0;
  object-fit: contain;
}

.home-button, #submit-button {
    background: transparent;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    color: #228DFF;
    text-decoration: normal;
    text-align: center;
    text-overflow: clip;
    white-space: pre;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.home-button:hover {
  border: 2px solid rgba(255,255,255,1);
  cursor: pointer;
}
