// #root {
// position: relative;
// background: #333333;
// z-index: -200;
// }

.home-whole {
  width: 100%;
  height: 100%;
}

.home-index {
  color: black;
}

.logo {
  width: 45px;
  height: auto;
  opacity: 0;
  -webkit-transition: color 0.5s, background-color 0.5s;
  -moz-transition: color 0.5s, background-color 0.5s;
  -ms-transition: color 0.5s, background-color 0.5s;
  -o-transition: color 0.5s, background-color 0.5s;
  transition: color 0.5s, background-color 0.5s;
  -webkit-animation: on .6s ease-in-out 0.8s forwards;
  -moz-animation: on .6s ease-in-out 0.8s forwards;
  -o-animation: on .6s ease-in-out 0.8s forwards;
}

.left-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-left: 8px;
  margin-left: 10px;
}

.left-header span {
  padding: 0;
  font-size: 62px;
  text-transform: lowercase;
  font-weight: normal;
  font-family: Baloo;
  color: black;
  font-style: italic;
  opacity: 0;
  -webkit-transition: color 0.5s, background-color 0.5s;
  -moz-transition: color 0.5s, background-color 0.5s;
  -ms-transition: color 0.5s, background-color 0.5s;
  -o-transition: color 0.5s, background-color 0.5s;
  transition: color 0.5s, background-color 0.5s;
  -webkit-animation: on .6s ease-in-out 0.8s forwards;
  -moz-animation: on .6s ease-in-out 0.8s forwards;
  -o-animation: on .6s ease-in-out 0.8s forwards;
}

.home-header {
  position: absolute;
  display: flex;
  width:100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: transparent;
}

// rgba(255,255,255,0.1) - backgground

.home-nav {
  display:flex;
  flex-direction: row;
  margin-right: 10px;
}
.home-nav button {
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    text-transform: capitalize;
    font-size: 100%;
  }

video {
  position: absolute;
  z-index: -100;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  width: 100vw;
  height: 100vh;
  margin: 0;
  object-fit: cover;
}

.home-button {
    color: white;
    background: transparent;
    padding: 20px;
    border: none;
    text-decoration: normal;
    text-align: center;
    text-overflow: clip;

}

.home-button:focus {
    outline: grey auto 3px;
}

.home-button:hover {
  color: #ccc;
  cursor: pointer;
}


.logo-2 {
  width: 115px;
  height: 115px;
}

.welcome-logo {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  span {
  padding: 0;
  margin: 0;
  height: 130px;
  line-height: 130px;
  font-size: 115px;
  text-transform: lowercase;
  font-weight: normal;
  font-family: Baloo;
  color: white;
  font-style: italic;
}
}
