.home-form {
  position:absolute;
  margin: 10% auto;
  top: 10%;
  left: 20%;
  width: 60%;
  color: white;
  margin-top: 8%;
  margin-bottom: 0;
  // left: ;
}

.home-form form {
  display: flex;
  flex-direction: column;
  background: transparent;
  align-items: center;

}

.home-form h1, h2, h3 {
  text-align: center;
  font-size: 300%;
}

.home-form h1 {
  font-family: "ModernTwoSxtnITCTTLight";
  font-weight: normal;
}


.home-form h2 {
  color: rgba(255,255,255,.9);
  font-size: 150%;
  text-shadow: 0;
  font-weight: 300;
  margin-top: 10px;
}


.home-form h3 {
  font-size: 150%;
  text-align: center;
  margin-top: 15px;
}

.home-welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}




.home-form .errors {
  color: white;
  font-weight: normal;
}

  .label {
    display: block;
    letter-spacing: 4px;
    padding-top: 20px;
    text-align: center;
  }
  .home-form .label .label-text {
    color: white;
    cursor: text;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    -moz-transform: translateY(-34px);
    -ms-transform: translateY(-34px);
    -webkit-transform: translateY(-34px);
    transform: translateY(-34px);
    transition: all 0.3s;
  }
  .label input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid white;
    color: white;
    font-size: 36px;
    letter-spacing: -1px;
    outline: 0;
    padding: 5px 20px;
    text-align: center;
    transition: all 0.3s;
    width: 200px;
  }
  .label input:focus {
    max-width: 100%;
    width: 400px;
  }
  .label input:focus + .label-text {
    color: white;
    font-size: 15px;
    -moz-transform: translateY(-74px);
    -ms-transform: translateY(-74px);
    -webkit-transform: translateY(-74px);
    transform: translateY(-74px);
  }
  .label input:valid + .label-text {
    font-size: 15px;
    -moz-transform: translateY(-74px);
    -ms-transform: translateY(-74px);
    -webkit-transform: translateY(-74px);
    transform: translateY(-74px);
  }

.home-button {
  &:hover, &:focus {
    background-color: white;
    color: #333333;
    outline: 0;
  }
}

 #submit-button, #start-button {
  background-color: #702b45;
  border-radius: 27px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  margin-top: 20px;
  padding: 15px 30px;
  width: 250px;
  text-transform: uppercase;
  transition: all 200ms;
  &:hover, &:focus {
    background-color: white;
    color: #333333;
    outline: 0;
  }
}

#start-button {
  margin-top: 20%;
  color: white;
  width: 300px;
  font-size: 110%;
  font-weight: bold;
  font-weight: normal;
}
