
.main-app {
  height: 100%;
  display: flex;
}

#root > div {
  height: 100%;
}

.main-middle{
  width: 100%;
  height: 100%;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.main-middle-right{
  height: calc(100% - 85px);
  display: flex;
  flex-direction: row;
}

.main-right {
  height: 100%;
}
