.main-middle .main-nav {
  margin:0;
  border:0;
  padding:0;
}

.main-chat {
  height: 86.5%;
}

.message-index {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 89%;
  width: 100%;
  bottom: 0;
  padding-bottom: 10px;
  ul {
    display: block;
    padding-left: 0;
    width: 100%;
    height: auto;
    margin: 0px 2px;;
    .message-box {
      margin: 0;
      padding-left: 2px;
      display: flex;
    }
    .message-info {
      font-family: Slack-Lato,appleLogo,sans-serif;
      color: #2C2D30;
      font-size: 10px;
      width: 100%;
      display: flex;
      align-items: baseline;
      font-weight: 900;
      color: #2C2D30!important;
      line-height: 18px;
      .time-stamp {
        font-weight: 400;
        color: #9e9ea6;
        font-size: 8px;
        white-space: nowrap;
        margin: 0px 3px;
      }
    }
    .message-body {
      padding: 0px;
      color: #2C2D30;
      font-size: 8.5px;
      padding-left: 2px;
      line-height: 10px;
      margin: 0px;
      margin-top: -4px;
      width: 100%;
      word-wrap: break-word;
    }
  }
}

.main-chat-submit {
  height: 7.5%;
  display:flex;
  justify-content: center;
  form {
    width: 100%;
    display:flex;
    justify-content: center;

  }
  .message-submit {
    border: 1px solid #c9c9c9;
    border-radius: 3px;
    font-size: 9px;
    font-weight: 400;
    color: #3D3C40;
    width: 90%;
    height: 23px;
    border-radius: 5px;
    text-indent: 5px;
  }
}

.message-index > ul:hover {
  background: #f5f5f5;
}


.avatar {
  border-radius: 2px;
  width: 25px;
  height: 25px;
  margin: 3px;
  border: 1px solid grey;
}
