.main-middle .main-nav {
  margin:0;
  border:0;
  padding:0;
}

.main-chat {
  height: 100%;
}

.message-index {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100% - 60px);
  width: 100%;
  bottom: 0;
  padding-bottom: 15px;
  > ul {
    display: block;
    padding-left: 0;
    width: 100%;
    height: auto;
    margin: 0px 3.5px;
    .message-box {
      margin: 0;
      padding: 8px;
      display: flex;
      justify-content: space-between;
      .message-box-info {
        display: flex;
        flex-direction: row;
      }
    }
    .message-info {
      font-family: Slack-Lato,appleLogo,sans-serif;
      color: #2C2D30;
      font-size: 17px;
      width: 100%;
      display: flex;
      align-items: baseline;
      font-weight: 900;
      color: #2C2D30!important;
      line-height: 32px;
      padding-left: 3px;
      .time-stamp {
        font-weight: 400;
        color: #9e9ea6;
        font-size: 12px;
        white-space: nowrap;
        margin: 0px 4.5px;
      }
    }
    .message-body {
      padding: 0px;
      color: #2C2D30;
      font-size: 14px;
      padding-left: 4px;
      line-height: 20px;
      margin: 0px;
      margin-top: -7px;
      width: 100%;
      word-wrap: break-word;
    }
  }
}

.main-chat-submit {
  height: 55px;
  display:flex;
  justify-content: center;
  form {
    width: 90%;
    display:flex;
    justify-content: center;

  }
  .message-submit {
    border: 1px solid #c9c9c9;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 400;
    color: #3D3C40;
    width: 100%;
    padding-right: 0px;
    height: 36px;
    border-radius: 5px;
    text-indent: 8px;
  }
}

.message-index > ul:hover {
  background: #f5f5f5;
}


.avatar {
  border-radius: 2px;
  width: 35px;
  height: 35px;
  margin: 3.5px;
  border: 1px solid grey;
}

.emoji-button {
  position: relative;
  padding: 0px;
  margin: 0px;
  height: 28px;
  top: 6px;
  right: 35px;
  background: transparent;
}

#emoji-icon {
  color: grey;
  font-size: 2.5em;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}


.emoji-box {
  position: absolute;
  width: 200px;
  height: 200px;
  bottom: 66px;
  padding: 0px;
  margin: 0px;
  right: 60px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid grey;
  border-radius: 5px;
  overflow-y: scroll;
  h4 {
    padding-left: 5px;
    width: 200px;
    text-decoration: underline;
  }
  li {
    padding: 8px;
    height: 20px;
    &:hover {
      cursor: pointer;
      background: #d3ecfa;
      border: 1px solid #d3ecfa;
      border-radius: 5px;
    }
  }
}

.message-emoji-button {
  position: relative;
  right:5px;
  top:0;
  .emoji-button {
    top:0;
    padding: 5px;
    height: 38px;
    border: 1px solid grey;
    border-radius: 4px;
  }
}

.message-index .emoji-box {
  position: absolute;
  width: 200px;
  height: 200px;
  bottom: 0px;
  padding: 0px;
  margin: 0px;
  right: 60px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid grey;
  border-radius: 5px;
  overflow-y: scroll;
  background: white;
  outline: none;
}
.message-box .emoji-button {
  display: none;
}

.message-box:hover .emoji-button {
  display: inline-block;
}

.emoji-body {
  padding-left: 0px;
  padding-top: 3px;
  display: flex;
  flex-direction: row;
  li {
    padding: 0 7px 0 4px ;
    margin: 0 3px;
    border: 0.5px solid grey;
    border-radius: 5px;
  }
}
