.nav-header {
  margin: 15px;
  width: 100%;
  margin-left: 0px;
  margin-top: 0px;
}

.nav-header-logo{
  display: flex;
  align-items: center;
}

.main-logo {
  width: 15%;
  height: 15%;
}


.nav-logo{
  display: flex;
  align-items: center;
  padding-left: 12px;
  padding-top: 10px;
  .nav-s-logo {
    height: 35px;
    width: 35px;
  }
   span {
  text-transform: lowercase;
  font-weight: bold;
  font-family: Baloo;
  color: white;
  font-style: italic;
  font-weight: normal;
  height: 39px;
  line-height: 48px;
  font-size: 35px;
}
}

.nav-current-user {
  display: flex;
  align-items: center;
  font-size: 93%;
  font-weight: 300;
  margin-top: 0px;
}

.green-circle {
  width: 4%;
  height: 4%;
  padding: 4px;
  padding-left: 16px;
}
