.nav-channels {
  display: flex;
  flex-direction: column;
  width: 100%
}

.nav-channels h2 {
  margin-bottom: 0;
  font-size: .9rem;
  line-height: 1.2rem;
  font-weight: lighter;
  width: 82%;
  height: auto;
  text-align: left;
  font-weight: normal;
  text-transform: uppercase;
  padding-left: 12px;
}

.nav-channels ul {
  margin-top: 0px;
  list-style: none;
  font-weight: 330;
  padding-left: 0px;
}


.nav-channels ul li {
  width: 200px;
  font-size: .95rem;
  line-height: 1.35rem;
  padding-left: 18px;
  white-space: nowrap;
  overflow:hidden !important;
  text-overflow: ellipsis;
}

.nav-channels ul li:hover{
  background: #352734;
}

.active{
  background: #4c9689;
  color: white;
  border-radius: 4px;
  margin-right: 8px;
  box-sizing: border-box;
}

.channel-length {
  color: #776c76;
  font-weight: 310;
}

.channel-detail:hover{
  cursor: pointer;
}

.modal-button{
  width: 100%;
  background: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  border: 0;
  margin-bottom: 4px;
}

.modal-button:hover{
  cursor: pointer;
  color: white;
}

.modal-form-close {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.close-button{
  background: transparent;
}

.close-button:hover{
  cursor: pointer;
}

.direct-message-header {
  display: flex;
  flex-direction: row;
}

.nav-footer {
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
}

#fa-icons {
  font-size: 1.4em;
  line-height: 0.75em;
}

#fa-contact {
  font-size: 1.7em;
  line-height: 0.9em;
  border: 0;
}
