.nav-header {
  margin: 10px;
  margin-top: 5px;
  width: 100%;
  margin-left: 0px;
}

.nav-header-logo{
  display: flex;
  align-items: center;
}

.main-logo {
  width: 15%;
  height: 15%;
}


.nav-logo{
  display: flex;
  align-items: baseline;
  padding-left: 8px;
   span {
  text-transform: lowercase;
  font-weight: bold;
  font-family: Baloo;
  color: white;
  font-style: italic;
  font-weight: normal;
  height: 20px;
}
}

.nav-header:hover {
  background: #352734;
}

.nav-current-user {
  display: flex;
  align-items: center;
  font-size: 50%;
  font-weight: lighter;
  margin-top: 0px;
}

.green-circle {
  width: 4%;
  height: 4%;
  padding: 4px;
  padding-left: 8px;
}
