.nav-channels {
  display: flex;
  flex-direction: column;
  width: 100%
}

.nav-channels h2 {
  margin-bottom: 0px;
}

.nav-channels ul {
  margin-top: 0px;
  list-style: none;
  padding-left: 10px;
}

.nav-channels ul li:hover{
  background: #352734;
}
