.home-form {
  position:relative;
  margin: 10% auto;
  width: 60%;
  color: white;
  margin-top: 8%;
  // left: ;
}

.home-form form {
  display: flex;
  flex-direction: column;
  background: transparent;
  align-items: center;
}

.home-form h1, h2, h3 {
  text-align: center;
  font-size: 300%;
}

.home-form h1 {
  font-family: "ModernTwoSxtnITCTTLight";
  font-weight: normal;
}


.home-form h2 {
  color: rgba(255,255,255,.7);
  font-size: 100%;
  text-shadow: 0;
  font-weight: lighter;
  margin-top: 10px;
}


.home-form h3 {
  font-size: 100%;
  text-align: center;
  margin-top: 15px;
}

.home-form form input {
  padding: 1.5%;
  font-size: 70%;
  width: 30%;
  margin: 6px;
  border-radius: 3.5px;
  padding-left: 10px;
  color: black;
}

.home-form #submit-button {
  background: #42c299;
  color: white;
  width: 30%;
  font-size: 70%;
  font-weight: bold;
}

.home-form #submit-button:hover {
  border: 2px solid rgba(255,255,255,1);
  cursor: pointer;
}

.home-welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home-welcome a {
  width: 30%;
}

.home-welcome #start-button {
  margin-top: 20%;
  background: #42c299;
  color: white;
  width: 100%;
  font-size: 80%;
  font-weight: bold;
  font-weight: normal;
  border-radius: 3.5px;
}

.home-form .errors {
  color: red;
}
