.home-form {
  position:absolute;
  top: 25%;
  left: 40%;
  color: white;
}

.home-form form {
  display: flex;
  flex-direction: column;
  background: transparent;
}

.home-form h1 {
  text-align: center;
}

.home-form form input {
  padding: 15px 50px;
  font-size: 20px;
  margin: 10px;
  border-radius: 20px;
  padding-left: 10px;
  color: black;
}

#submit-button {
  padding: 15px 50px;
  color: #f5f5dc;
  background: #64909c;
}
