.home-form {
  position:relative;
  margin: 10% auto;
  width: 60%;
  // left: ;
  color: white;
}

.home-form form {
  display: flex;
  flex-direction: column;
  background: transparent;
}

.home-form h1, h2, h3 {
  text-align: left;
  font-size: 350%;
  color: #228DFF;
}

.home-form h2 {
  font-size: 125%;
  text-shadow: 0;
}


.home-form h3 {
  font-size: 100%;
  width: 40%;
  padding-left: 10px;
  text-align: center;
}

.home-form form input {
  padding: 1.5%;
  font-size: 100%;
  width: 40%;
  margin: 10px;
  border-radius: 20px;
  padding-left: 10px;
  color: black;
}

.home-form #submit-button {
  background: transparent;
  color: #228DFF;
  width: 30%;
  font-size: 100%;
  font-weight: bold;
  border: 1px solid #228DFF;
}

.home-form #submit-button:hover {
  border: 3.5px solid rgba(255,255,255,1);
  cursor: pointer;
}
