html, main, div, span, body, section, nav, input,
button, h1, h2, h3, h4, p {
  font-family: 'Muli', sans-serif;
  color: #f5f5dc;
}

body {
  background: #1c292c;
}

button {
  background: #64909c;
}
